<p id="notice"><%= notice %></p>

<h1 class="coloring">Mountains</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @mountain_models.each do |mountain_model| %>
      <tr class="active">
        <td><b><button type="button" class="btn-lg btn-link"><%= link_to mountain_model.name, mountain_model , style: "color:black;"%></button></b></td>
        <td><%= link_to 'Edit', edit_mountain_model_path(mountain_model) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mountain Model', new_mountain_model_path %>
