table {
	padding: 20px;
}
.coloring {
	color: #05b0ff;
	text-shadow: 2px 2px 10px white;
	background-color: rgb(185, 115, 115);
	font-family: cursive;
 }
 .headerButtons {

	background-color:white;
 }